{% extends 'homepage.html' %}


{% block content %}

<h1>Importação Float</h1>

<form class="row" action="#" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="file-field input-field">
    <div class="btn">
      <span>Selecione o Arquivo: </span>
      <input type="file" name="arquivo">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
    </div>
  </div>

  <div class="input-field col s12">
    <select name="tipoarquivo">
      <option value="" disabled selected>Selecione o tipo de importacao</option>
      <option value="floatDiario">Planilha Float Diário</option>
    </select>
    <label>Tipo de Importação</label>
  </div>

  <input type="submit" class="btn" value="Importar"/>


</form>


<div class="row"> 

    <a class="btn" href="{% url 'float_geral' %}"> Float Geral</a>
    <a class="btn" href="{% url 'float_mensal' %}"> Float Mensal</a>


</div>



{% endblock %}