{% extends "homepage.html" %}


{% block content %}



    <h3>Eventos Ativo -  {{ativo}}</h3>


    <table class="striped">
        <thead>
            <th> Data de Liquidação </th>
            <th> Título </th>
            <th> Emissor </th>
          </thead>

        {% for evento in eventos %}
        <tr>

            <td>{{evento.data_liquidacao | date:"d/m/Y" }}</td>
            <td>{{evento.ativo}}</td>
            <td>{{evento.emissor}}</td>


        </tr>

        {% endfor %}
    </table>









{% endblock %}