{% extends "eventos/main_eventos.html" %}

{% block content %}
    <h1>Eventos Diários - Outros Ativos</h1>
    <h3> Dia Atual : {{ dia }}</h3>



    <form method="post" action="">
        {% csrf_token %}
        <input type="date" name="data">
        <input type="submit" class='btn' value="Periodo Especifico">
 
        <a href="{% url 'eventos_diarios' %}"  class="btn">Baixar Relatório em Excel</a>
    </form>



    <h2 class="box">Eventos Hoje</h2>


    <table class="striped">
        <thead>
            <th> Data de Liquidação </th>
            <th> Título </th>
            <th> Emissor </th>
          </thead>

        {% for evento in eventos %}
        <tr>

            <td>{{evento.data_liquidacao | date:"d/m/Y" }}</td>
            <td>{{evento.ativo}}</td>
            <td>{{evento.emissor}}</td>


        </tr>

        {% endfor %}
    </table>




    </h2>
    </div>




{% endblock %}


