{% extends 'homepage.html' %}
{% load static %}


{% block content %}



<h1>Editar Fundos XP</h1>



<div class="row">
    <form class="col s12"  method="post" action="#">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s4">
          <input required placeholder="Nome do Fundo" id="fundo" type="text" name="fundo_nome" value="{{fundo.nome}}" class="validate">
          <label for="fundo">Fundo</label>
        </div>
        <div class="input-field col s4">
          <input required placeholder="Cnpj do Fundo" id="cnpj_fundo" type="text"  value="{{fundo.cnpj}}""  name="fundo_cnpj" class="validate">
          <label for="cnpj_fundo">Cnpj do Fundo</label>
      </div>
        <div class="input-field col s4">
          <input required placeholder="Código Jcot" id="cd_jcot" type="text"  value="{{fundo.cd_jcot}}" name="cd_jcot" class="validate">
          <label for="cd_jcot">Código Jcot</label>
      </div>
      <div class="input-field col s4">

        <select name="filename" required>
          <option value="" disabled selected>Selecione o Arquivo</option>
          {% if fundo.filename == 'OT_ORDENS_RETORNO'   %}
          
          <option value="OT_ORDENS_RETORNO" selected>OT ORDENS RETORNO</option>
          <option value="XP_OT_ORDENS_ENVIO_FD_PASSIVO" >XP OT ORDENS ENVIO FD PASSIVO</option>
          {% endif %}

          {% if fundo.filename == 'XP_OT_ORDENS_ENVIO_FD_PASSIVO'   %}
          
          <option value="OT_ORDENS_RETORNO">OT ORDENS RETORNO</option>
          <option value="XP_OT_ORDENS_ENVIO_FD_PASSIVO" selected>XP OT ORDENS ENVIO FD PASSIVO</option>
        {% endif %}

          {% comment %} XP É O VALOR DEFAULT DO CAMPO filename LOGO ELE nunca será branco {% endcomment %}
        {% if fundo.filename == 'XP'   %}
          
        <option value="OT_ORDENS_RETORNO">OT ORDENS RETORNO</option>
        <option value="XP_OT_ORDENS_ENVIO_FD_PASSIVO">XP OT ORDENS ENVIO FD PASSIVO</option>
      {% endif %}


        </select>
        <label>Arquivo retorno</label>
      </div>

        <div class="input-field col s4">
          <input  id="enviar" class="btn" type="submit" name="Salvar" value="Concluir Edição" />
      </div>
      </div>
    </form>
</div>




{% endblock %}



