{% extends 'homepage.html' %}
{% load static %}
{% load materializecss %}


{% block content %}


<h1>Importação de Arquivos</h1>

<form action="#" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form | materializecss }}

  <div class="input-field col s12">
    <select name="tipoarquivo">
      <option value="" disabled selected>Selecione o tipo de importacao</option>
      <option value="diariopco">Arquivo Diário - XP</option>
    </select>
    <label>Tipo de Importação</label>
  </div>

  <input type="submit" class="btn" value='Importar'/>


</form>


<script src="{% static 'materialize_init.js' %}"></script>


{% endblock %}



