{% extends 'homepage.html' %}
{% load static %}


{% block content %}


<h1>Relatórios Diários XP</h1>

<div>
    <form action="{% url 'arquivo_retorno' %}" method="POST">
          {% csrf_token %}
        <div class="input-field col s12">
          <input type="text" class="datepicker" name='data' id="datepicker">
          <label for="datepicker">Selecione uma data</label>
        </div>
        <div class="input-field col s12">
          <select name="tipoarquivo">
            <option value="" disabled selected>Selecione o tipo de arquivo: </option>
            <option value="movimentacao">Arquivo de Movimentação</option>
            <option value="posicao">Arquivo de Posição</option>
            <option value="posicao_geral">Posição Consolidada</option>
          </select>
          <label>Tipo de Arquivo</label>
        </div>
            <button type="submit" class='btn' >Gerar Arquivo Retorno</button>
       
    </form>


</div>




{% endblock %}



