{% extends 'xpapp/home_xp_app.html' %}
{% load static %}


{% block content %}


<h1>Relatórios Diários XP</h1>

<div>
    <form action="{% url 'arquivo_retorno' %}" method="POST">
          {% csrf_token %}
        <div class="input-field col s12">
          <input type="text" class="datepicker" name='data' id="datepicker">
          <label for="datepicker">Selecione uma data</label>
        </div>
            <button type="submit" class='btn' >Arquivo Retorno</button>
       
    </form>


</div>




{% endblock %}



